   .nav-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width:99%;
    background-color: #ffffff;
    border-bottom: 2px solid #dcdcdc;
    margin-top: 0px;
    padding: 15px;
    padding-left: 20px;
    padding-right: 20px;

  }
  .blackColorText {
    color: #522f9e;
  }
  
  @media screen and (min-width: 768px) {
    .website-logo {
      width: 5%;
      height: 60%;
    }
  }
  .nav-sec {
    display: flex;
    list-style-type: none;
  }
  .nav-link {
    font-size: 20px;
    font-weight: 700;
    padding-left: 6px;
    padding-right: 6px;
    cursor: pointer;
    outline: none;
    text-decoration: none;
    padding-left: 20px;
    padding-right: 40px;
    
  }
  .toggle-btn {
    border: none;
    outline: none;
    cursor: pointer;
    background-color: transparent;
    padding-right: 0px;
  }
  .toggle-icon {
    width: 50%;
    height: 50%;
  }
  @media screen and (min-width: 768px) {
    .toggle-icon {
      width: 50%;
      height: 50%;
    }
  }
  