   .nav-header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width:95%;
    background-color: #545458c2;
    border-bottom: 2px solid #000000;
    margin-top: 0px;
    padding: 10px;
    padding-left: 30px;
    padding-right: 10px;
    }
  
  .nav-sec {
    display: flex;
    list-style-type: none;
  }
  .nav-link {
    font-size: 15px;
    font-weight: 700;
    cursor: pointer;
    outline: none;
    color: #423a3a;
    text-decoration: none;
    padding-right: 20px;
    
  }
  .nav-login-link {
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
    outline: none;
    color: #ffffff;
    text-decoration: none;
padding:10px;
    background-color:#8b8b8b;
    border:2px solid #141313;
    border-radius:18px;
  }
  .selectedTabItem{
    font-size: 15px;
    font-weight: 500;
    padding-left: 6px;
    padding-right: 6px;
    cursor: pointer;
    outline: none;
    color: #9dbfff;
    text-decoration: none;
    padding-right: 10px;
    text-decoration: underline;
  }
  @media screen and (min-width: 639px) {
    .nav-header {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width:97.4%;
      background-color: #545458c2;
      border-bottom: 2px solid #000000;
      margin-top: 0px;
      padding: 15px;
      padding-left: 20px;
      padding-right: 20px;
      }
    
    .nav-sec {
      display: flex;
      list-style-type: none;
      margin-left:580px;
    }
    .nav-link {
      font-size: 20px;
      font-weight: 800;
      padding-left: 6px;
      padding-right: 6px;
      cursor: pointer;
      outline: none;
      color: #423a3a;
      text-decoration: none;
      padding-left: 40px;
      padding-right: 40px; 
    }
    .nav-login-link {
      font-size: 25px;
      font-weight: 700;
      padding:15px; 
      cursor: pointer;
      outline: none;
      color: #ffffff;
      text-decoration: none;
      margin-left: auto;
      background-color:#8b8b8b;
      border:2px solid #141313;
      border-radius:18px;
 
    }
    .selectedTabItem{
      font-size: 20px;
      font-weight: 700;
      padding-left: 6px;
      padding-right: 6px;
      cursor: pointer;
      outline: none;
      color: #ffffff;
      text-decoration: none;
      padding-left: 40px;
      padding-right: 40px;
      text-decoration: underline;
    }

  }