   .nav-header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width:95%;
    background-color: #2a2a30c2;
    border-bottom: 2px solid #000000;
    margin-top: 0px;
    padding: 10px;
    padding-left: 30px;
    padding-right: 10px;
    }
  
  .nav-sec {
    display: flex;
    list-style-type: none;
  }
  .nav-link {
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
    outline: none;
    color: #fdfdfd;
    text-decoration: none;
    padding-right: 10px;
    
  }
  .nav-login-link {
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
    outline: none;
    color: #fdfdfd;
    text-decoration: none;
    margin-left: 75px;
    padding-right: 10px; 
  }
  @media screen and (min-width: 639px) {
    .nav-header {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width:97.4%;
      background-color: #2a2a30c2;
      border-bottom: 2px solid #000000;
      margin-top: 0px;
      padding: 15px;
      padding-left: 20px;
      padding-right: 20px;
      }
    
    .nav-sec {
      display: flex;
      list-style-type: none;
      margin-left:580px;
    }
    .nav-link {
      font-size: 20px;
      font-weight: 700;
      padding-left: 6px;
      padding-right: 6px;
      cursor: pointer;
      outline: none;
      color: #fdfdfd;
      text-decoration: none;
      padding-left: 40px;
      padding-right: 40px;
      
    }
    .nav-login-link {
      font-size: 20px;
      font-weight: 700;
      padding-left: 6px;
      padding-right: 6px;
      cursor: pointer;
      outline: none;
      color: #fdfdfd;
      text-decoration: none;
      margin-left: auto;
      padding-right: 40px; 
    }
  }