body{
  margin: 0px;
}
.home-container{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 0px;
  min-height: 110vh;
  background-image: url("https://images.unsplash.com/photo-1573848953384-3be02021eb0b?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80");
  background-size:cover ;
  width:100%;
}
.home-heading{
  font-size: 20px;
  font-weight:500;
  font-family: "Roboto";
  color: #827d8c;
  border-radius: 2px;
  margin-top: 5px;
  outline: none;
}
.home-form-container {
 margin:50px;
 background-color: transparent;
  }
  
  @media screen and (min-width: 639px) {
    .home-form-container {
      margin:150px;
      background-color: transparent;
    }
    .home-container{
      background-size:cover ;
    }
    .home-heading{
      font-size: 40px;
      font-weight:600;
    }
  }
  
  .form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 8px;
    background-color: transparent;
    width: 100%;
  }
  
  @media screen and (min-width: 992px) {
    .form-container {
      width: 350px;
      flex-shrink: 0;
      padding: 64px 48px 64px 48px;
      background-color: transparent;
    }
  }
  
  .input-container {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    width: 100%;
  }
  
  .home-input-label {
    margin-bottom: 0px;
  font-weight: 600;
    font-size: 26px;
    text-align: left;
    width:85%;
    color: #141f30;
    padding-top:10px;
    padding-bottom: 10px;
  }
  
  .home-input-field {
    font-size: 14px;
    height: 20px;
    border: 2px solid #d7dfe9;
    background-color: #e2e8f0;
    color: #64748b;
    margin-top: 5px;
    padding: 5px;
    width:80%;
    outline: none;
  }
  
  .password-input-field {
    font-size: 14px;
    height: 40px;
    border: 1px solid #d7dfe9;
    background-color: transparent;
    color: #64748b;
    border-radius: 2px;
    margin-top: 5px;
    padding: 8px 16px 8px 16px;
    outline: none;
  }
  
  .login-button {
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 14px;
    color: #ffffff;
    height: 40px;
    width: 20%;
    margin-top: 20px;
    margin-bottom: 2px;
    background-color: #0b69ff;
    border-radius: 8px;
    border: none;
    outline: none;
    cursor: pointer;
  }
  
  .error-message {
    align-self: start;
    font-size: 12px;
    margin-top: 3px;
    margin-bottom: 0px;
    font-family: 'Roboto';
    font-size: 12px;
    line-height: 16px;
    color: #ff0b37;
  }
  